.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    font-size: 2em;

    &:hover {
        cursor: pointer;
    }

    i:hover {
        font-size: 1.1em;
    }
}
