@import "../styles/main";
@import "../styles/variables";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 1.5em;

    .navRight {
        flex: 0 0 $settings-window-width;

        display: flex;
        justify-content: flex-end;

    }
}

.editor {
    flex: 1;
    transition: margin-right 0.12s;
}

.editorSettingsPadding {
    margin-right: $settings-window-width;
}

