@import "../../styles/main";
@import "../../styles/variables";

.settingsWindow {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: start;

    width: $settings-window-width;
    height: 100%;
    transform-origin: 100% 50%;

    background: white;
}

.settingsWindowEnterActive {
    animation: in 0.1s linear forwards;
    @keyframes in {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }
}

.settingsWindowExitActive {
    animation: out 0.1s linear forwards;
    @keyframes out {
        0% {
            transform: scaleX(1);
        }
        100% {
            transform: scaleX(0);
        }
    }
}
